<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <div id = "reg" *ngIf="successMessage" class="alert alert-success text-center">{{ successMessage }}</div>
    <div id = "reg" *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</div> -->
    <div class="main">
        <div class="Register">
            <h2 class="register-title">Register</h2>
            <form #registerForm="ngForm" (ngSubmit)="register()">
                <div class="form-group">

                    <input type="text" class="form-control" [(ngModel)]="user.firstname" name="fname" #fname="ngModel" required placeholder="First Name">
                    <div *ngIf="fname.invalid && fname.touched" class="text-danger">First name is required.</div>
                </div>
  
                <div class="form-group">

                    <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lname" #lname="ngModel" required placeholder="Last Name">
                    <div *ngIf="lname.invalid && lname.touched" class="text-danger">Last name is required.</div>
                </div>
  
                <div class="form-group">

                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required email placeholder="Email">
                    <div *ngIf="email.invalid && email.touched" class="text-danger">Valid email is required.</div>
                </div>
  
                <div class="form-group">

                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" required minlength="6" placeholder="Password">
                    <div *ngIf="password.invalid && password.touched" class="text-danger">Password must be at least 6 characters.</div>
                </div>
  
                <div class="form-group">

                    <input type="text" class="form-control" [(ngModel)]="user.location" name="Location" #location="ngModel" required placeholder="Location">
                    <div *ngIf="location.invalid && location.touched" class="text-danger">Location is required.</div>
                </div>
  
                <br>
                <button id="regbtn" type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button> 
            </form>
        </div>
    </div>
</body>
</html>
